.home{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
@media screen and (max-width : 1200px){
    .home{
        padding-left: 12em;
    }
}

@media screen and (max-width : 990px){
    .post{
        width: 95%;
        padding: 0;
        height: 50vh;
    }
}